{% extends 'base.html' %}

{% block content%}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Evidencija studenata</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('studenti') }}">Studenti</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('predmeti') }}">Predmeti</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('korisnici') }}">Korisnici</a>
      </li>
    </ul>

    <a href="{{url_for('logout')}}"><i class="fas fa-sign-out-alt" style="color: #ffffff"></i></a>

  </div>
</nav>
<div class="container">
	
	<div class='row my-5'>
    <form action="{{url_for('student_izmena',id=studenti.id)}}" method="POST">
		    <div class="form-group">
           <label for="brIndex">Broj indexa</label>
           <input type="text" class="form-control" id="brIndex" name="brIndex" value="{{studenti.broj_indexa}}">
        </div>

        <!--Ime-->
        
        <div class="form-group">
           <label for="ime">Ime</label>
           <input type="text" class="form-control" id="ime" name="ime" value="{{studenti.ime}}">
        </div>
  
        <!--Ime roditelja-->

        <div class="form-group">
           <label for="imeRoditelja">Ime roditelja</label>
           <input type="text" class="form-control" id="imeRoditelja" name="imeRoditelja" value="{{studenti.ime_roditelja}}">
        </div>

        <!--Prezime-->

        <div class="form-group">
           <label for="prezime">Prezime</label>
           <input type="text" class="form-control" id="prezime" name="prezime" value="{{studenti.prezime}}">
        </div>

        <!--Email-->

        <div class="form-group">
           <label for="email">Email</label>
           <input type="email" class="form-control" id="email_novi" aria-describedby="emailHelp" name="email" value="{{studenti.email}}">
        </div>

        <!--Broj telefona-->

        <div class="form-group">
           <label for="BrojTelefona">Broj telefona</label>
           <input type="tel" class="form-control" id="BrojTelefona" name="brojTelefona" pattern="[0-9]{9,10}" minlength="8" maxlength="10"  value="{{studenti.broj_telefona}}">
        </div>

        <!--Godina studija-->

        <div class="form-group">
           <label for="god">Godina studija</label>
           <input type="number" class="form-control" id="god" name="godStud" value="{{studenti.godina_studija}}">
        </div>

        <!--Datum rodjenja-->

        <div class="form-group">
           <label for="datRodjenja">Datum rodjenja</label>
           <input type="date" class="form-control" id="datRodjenja" name="datRodjenja" value="{{studenti.datum_rodjenja}}">
        </div>

        <!--JMBG-->

        <div class="form-group">
           <label for="jmbg">JMBG</label>
           <input type="tel" class="form-control" id="jmbg" name="jmbg" pattern="[0-9]{13}" minlength="13" maxlength="13" value="{{studenti.JMBG}}">
        </div>

        
        
        <button type="submit" class="btn btn-primary">Sacuvaj</button>
  
      </form>
                  
                  
    	</div>

</div>
{% endblock %}